:root {font: 20px/24px "Roboto", sans-serif; }

body,
body * {
    margin:          unset;
    box-sizing:      inset;
    padding:         unset;
    font-size:       inset;
    color:           unset;
    text-decoration: unset;

}